* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  font-weight: 400;
  font-size: 14px;
  color: #17233d;
  margin: 20px;
  cursor: pointer;
}

a {
  margin-left: 10px;
}

button {
  width: 124px;
  height: 51px;
  color: #ffffff;
  border: 1px solid #4cb538;
  background: #6fbf44;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px;
}

imagem {
  display: inline-block;
  width: 595.18px;
  height: 500px;
}

section {
  display: inline-block;
  width: 500px;
  margin: 10px;
  
}

h1 {
  font-weight: 700;
  font-size: 62px;
  color: #161a49;
  margin: 10px;
}

p {
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
}

#learn-more {
  font-weight: 500;
  color: #6fbf44;
  cursor: pointer;
  margin-top: 20px;
}
